RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

RewriteCond %{REQUEST_URI} ^/(config|routes|include) [NC]
RewriteRule ^ - [F,L]

Options -Indexes
DirectoryIndex index.php

# ErrorDocument 403 /errors/403.php

<FilesMatch "\.(css|js|php|ico)$">
    Require all granted
</FilesMatch>

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
